#include <cmath>
#include "spdloghelper.h"
#include <grpcpp/grpcpp.h>
#include "../{{ serv_name }}_pb/{{ serv_name }}.grpc.pb.h"
#include "{{ serv_name }}_serv.h"

using grpc::ServerContext;
using grpc::Status;
using grpc::ServerReader;
using grpc::ServerReaderWriter;
using grpc::ServerWriter;
using {{ serv_name }}::{{ serv_name | upper }}_RPC;
using {{ serv_name }}::Message;

using Logger = spdloghelper::LogHelper;

// 实现接口
namespace {{ serv_name }}_serv {
    // req-res
    Status {{ serv_name | upper }}_RPCServiceImpl::Square(ServerContext* context, const Message* request, Message* response) {
        Logger* logger = Logger::getInstance();
        logger->info("Square get message",{ { "msg", request->message() } });
        response->set_message(std::pow(request->message(), 2));
        return Status::OK;
    }
    // req-stream
    Status {{ serv_name | upper }}_RPCServiceImpl::RangeSquare(ServerContext* context, const Message* request, ServerWriter<Message>* writer ) {
        Logger* logger = Logger::getInstance();
        logger->info("RangeSquare get message",{ { "msg", request->message() } });
        for (int i; i < request->message(); i++ ) {
            Message m;
            auto ii = double(i);
            m.set_message(std::pow(ii, 2));
            writer->Write(m);
        }
        return Status::OK;
    }
    // stream-res
    Status {{ serv_name | upper }}_RPCServiceImpl::SumSquare(ServerContext* context, ServerReader<Message>* reader,Message* response ) {
        Logger* logger = Logger::getInstance();
        double res = 0;
        Message temp;
        while (reader->Read(&temp)) {
            logger->info("SumSquare get message",{ { "msg", temp.message() } });
            res += std::pow(temp.message(), 2);
        }
        response->set_message(res);
        return Status::OK;
    }
    // stream-stream
    Status {{ serv_name | upper }}_RPCServiceImpl::StreamrangeSquare(ServerContext* context,ServerReaderWriter<Message,Message>* stream) {
        Logger* logger = Logger::getInstance();
        Message temp;
        while (stream->Read(&temp)) {
            logger->info("StreamrangeSquare get message",{ { "msg", temp.message() } });
            auto max = temp.message();
            for (int i; i < max; i++ ) {
                Message m;
                auto ii = double(i);
                m.set_message(std::pow(ii,2));
                stream->Write(m);
            }
        }
        return Status::OK;
    }
}
